body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #202020;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  gap: 20px;
  padding: 20px;
}

.video-card {
  background: #181818;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.video-card:hover {
  transform: scale(1.05);
}

.auth-box, .upload-box {
  max-width: 400px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

input, button {
  padding: 10px;
  margin: 10px 0;
}